$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$primary: #004f59;
$secondary: #008c95;
$red: #ff3d17;
$black: #212121;
$white: #fff;
$cyan: #004f59;
$dark-cyan: #008c95;
$gray: #888888;
$bright-gray: #e5f3f4;
$blue: #4285F4;
$light-blue: #ECF3FE;
$pale-blue: #e6faee;
$teal-green: #008c95;
$alachite-green: #00c853;
$lime-green: #34a853;

$pale-orange: #ffece8;
$pumpkin-orange: #ff8400;
$light-beige: #fff3e6;

$disabled-color: #e0e0e0;
$danger-color: #ff3d17;
$background-color: #f4f4f4;

$tertiary-color: #ff8400;
$tertiary-light-color: #ffb566;

// Sidebar
$sidebar-color: $cyan;

// Paging
$paging-no-active: $gray;
